.card {
    margin: 1%;
}
div.image-badge {
    position: relative;
    & span {
        position: absolute;
        top: 95%;
        left: 80%;
    }
}
.spacer{
    height: 8em;
}
datalist option:nth-child(1n+6) {
    visibility: hidden;
  }
nav {
    &.navbar{
        z-index: 999999;
        width: 100%;
        position: fixed;
    }
    & a {
        margin-left: 18%;
    }
    & form {
        margin-right: 16.5%;
    }
}
